<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>schedulrVUE (Backup 1575142410431) (Backup 1575171691666)</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/-Login-form-Page-BS4-.css">
    <link rel="stylesheet" href="/assets/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="/assets/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="/assets/css/Dark-NavBar.css">
    <link rel="stylesheet" href="/assets/css/Data-Table-1.css">
    <link rel="stylesheet" href="/assets/css/Data-Table.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/assets/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="/assets/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body style="height: 100%;">
    <div>
        <nav class="navbar navbar-light navbar-expand-md sticky-top bg-info navigation-clean-button" style="height:80px;background-color:#37434d;color:#ffffff;">
            <div class="container-fluid"><a class="navbar-brand" href="#" style="font-size: 200%;">&nbsp;SchedulR</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" style="color:#ffffff;" href="/profile.html"><i class="fa fa-user-circle-o"></i>&nbsp;Profile</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" style="color:#ffffff;" href="#"><i class="fa fa-sign-in"></i>&nbsp;Sign Out</a></li>
                    </ul>
            </div>
    </div>
    </nav>
    </div>
    <div style="height: 233%;">
        <div class="container" style="width: 100%;max-width: none;height: 100%;">
            <div class="row" style="min-height: 351px;height: 100%;">
                <div class="col-md-6" style="background-size: cover;background-repeat: no-repeat;background-position: center;max-height: auto;background-image: url(&quot;/assets/img/Sh5Nn9ur_400x400.jpg&quot;);width: 50%;">
                    <div class="row" style="min-height: 33%;"></div>
                    <div class="row" style="height: 100%;">
                        <div class="col text-center" style="height: 100%;min-height: 33%;"><a class="btn btn-light btn-lg" role="button" style="filter: blur(0px);padding: 6px;" href="/view_schedule.html">Add Classes</a></div>
                    </div>
                </div>
                <div class="col-md-6" style="background-size: cover;background-repeat: no-repeat;background-position: center;max-height: auto;background-image: url(&quot;/assets/img/Sh5Nn9ur_400x400.jpg&quot;);width: 50%;">
                    <div class="row" style="min-height: 33%;"></div>
                    <div class="row" style="height: 100%;">
                        <div class="col text-center" style="height: 100%;min-height: 33%;"><a class="btn btn-light btn-lg" role="button" style="filter: blur(0px);padding: 6px;" href="/classes_taken.html">View Classes</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="/assets/js/admin_view_classes.js"></script>
    <script src="/assets/js/classes_taken.js"></script>
    <script src="/assets/js/index.js"></script>
    <script src="/assets/js/Profile-Edit-Form.js"></script>
    <script src="/assets/js/schedule_requests.js"></script>
    <script src="/assets/js/view_results.js"></script>
    <script src="/assets/js/view_schedule.js"></script>
</body>

</html>